@use 'variables' as v;

@mixin phone {
    @media (max-width: 768px){
        @content; // para agregar el bloque
    }
}

@mixin tablet {
    @media (max-width: 992px){
        @content;
    }   
}

@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}