@use 'base/mixins' as m;
@use 'base/variables' as v;

.sobre-festival{
    padding: 5rem;
    @include m.grid(2, 5rem);

    @include m.phone {
        @include m.grid(1, 0rem);
    }
}

.contenido-festival{
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include m.phone {
        margin-top: 5rem;
    }
    
    h2{
        margin-bottom: 2rem;
    }
    .fecha{
        color: v.$rosa;
        font-weight: 700;
    }
}